version: '3.8'

services:
  app:
    build: .
    ports:
      - "${PORT}:${PORT}" # Порт береться з файлу .env
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - DB_HOST=db
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    depends_on:
      - db
    # Команда для запуску з nodemon (гаряче перезавантаження)
    command: npm run dev 

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3307:3306" # Зовнішній порт 3307, щоб не конфліктувати, якщо у вас є локальний MySQL
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: